* 
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body
{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
}

header
{
  margin-top: 4%;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom ,  rgba(79, 221, 221, 0.801) , rgba(86, 228, 145, 0.801)) , url('headerbg.png');
    background-size: cover;
    background-position: center;
    padding-top: 10%;
}
.poster__quote
{
  text-justify: auto;
  margin-left: 1%;
  color: white;
  font-weight: 3px;
  
}
.poster__text
{
  text-justify: auto;
  margin-top: 5%;
  margin-left: 20%;
  color: white;
  font-weight: 3px;

}
.poster__btn
{
  margin-left: 30%;
  margin-top: 4%;
  background-color: white;
  border: 1px solid white;
  height: 40px;
  font-weight: 2px;
  width: 170px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;

}
.poster__btn:hover{
  transform: scale(1.1);
  transition: transform .22s;
}

@media only screen and (max-width: 1000px) {
  .poster__quote
  {
    
    margin-left: 0.7%;
      
  }
  .poster{
    margin-top: 5%;
  }
  .poster__text
  {
  
    margin-top: 8%;
    margin-left: 12%;
    
  
  }
  .poster__btn
  {
    margin-left: 30%;
    margin-top: 8%;
    height: 37px;
    width: 160px;
      
  }
}
@media only screen and (max-width: 700px) {
  .poster{
margin-top: 10%;
  }
}

@media only screen and (max-width: 490px) {
  .poster{
margin-top: 15%;
  }
  .poster__quote{
    margin-top: 5%;
  }
  .poster__text{
    margin-top: 10%;
  }
  .poster__btn{
    margin-top: 10%;
  }
}