.projects {
  margin: 0;
  padding: 0;
  margin-left: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  width: 93%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;

  display: flex;
}
.projects__heading {
  margin-top: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projects__image {
  margin-top: 5%;
}

.projects__small {
  color: red;
}
.projects__text {
  padding-top: 10%;
  padding-right: 3%;
  padding-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}

.projects__btn {
  margin-top: 5%;
  margin-left: 20%;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.projects__btn:hover {
  transform: scale(1.2);
  transition: 1s;
  z-index: 5;
}
@media only screen and (max-width: 1060px) {
 
.projects{
  
  margin-left: 4%;
}  

}

@media only screen and (max-width: 980px) {
   
.projects__image {
  display: none;
}
.projects__text{
  padding-top: 5%;
}
.projects__small{
  margin-left: 12%;
}
  }

  @media only screen and (max-width: 860px) {
   
    .projects__image {
      display: none;
    }
    .projects__btn{
      margin-left: 30%;
    }
    .projects__small{
      margin-left: 5%;
    }
  }

  @media only screen and (max-width: 800px) {
   
    .projects__image {
      display: none;
    }
    
    .projects__small{
      margin-left: 1%;
    }
    .projects__heading {
      margin-top: 20%;
    
    }
  }